@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');

@theme {
  --breakpoint-3xl: 118.75rem;
}

@layer base {
  p, h1, h2, div {
    font-family: 'Sour Gummy', cursive, sans-serif;
  }
}

@layer utilities {
  .hero-bg {
    background-image: url('./images/hero_mobile2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .services-bg {
    background-image: url('./images/services_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .hero-bg {
      background-image: url('./images/hero_desktop2.jpg');
    }
    .services-bg {
      background-image: url('./images/services_desktop.jpg');
    }
  }

/* PRICE SECTION*/
.paw {
  @apply w-28 sm:w-36 md:w-25 lg:w-32 xl:w-40 3xl:w-48 h-auto mx-auto transition duration-300 pt-8;
}
.paw p {
  @apply pt-5 text-xl px-2 xl:text-2xl;
}

.content {
  @apply hidden;
}

.content div {
  @apply pt-6;
}

.title {
  @apply text-5xl md:text-6xl font-bold text-center mb-12 text-shadow-xs text-shadow-sky-100/60;
}


/* ZOBRAZENIE */

#s:checked ~ .overlay,
#m:checked ~ .overlay,
#l:checked ~ .overlay,
#xl:checked ~ .overlay,
#xxl:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

#s:checked ~ .overlay .panel,
#m:checked ~ .overlay .panel,
#l:checked ~ .overlay .panel,
#xl:checked ~ .overlay .panel,
#xxl:checked ~ .overlay .panel {
  transform: scale(1);
}

#s:checked ~ .overlay .content-s { display: block; }
#m:checked ~ .overlay .content-m { display: block; }
#l:checked ~ .overlay .content-l { display: block; }
#xl:checked ~ .overlay .content-xl { display: block; }
#xxl:checked ~ .overlay .content-xxl { display: block; }
}
