@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');

@theme {
  --breakpoint-3xl: 118.75rem;
}

@layer base {
  p, h1, h2, div {
    font-family: 'Sour Gummy', cursive;
  }
}

@layer utilities {
  .hero-bg {
    background-image: url('./images/hero_mobile2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .services-bg {
    background-image: url('./images/services_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .hero-bg {
      background-image: url('./images/hero_desktop2.jpg');
    }
    .services-bg {
      background-image: url('./images/services_desktop.jpg');
    }
  }
}

html, body {
  overflow-x: hidden;
}
